{% extends "KLRestaurationBundle::layout.html.twig" %}

{% block title %}Commande modification{% endblock %}

{% block body %}
<div class="row product">
  <div class="col-lg-3">

    <h1 class="presentation-titre">La commande n°{{commande.id}}</h1>

    <div class="list-group">
      <a href="{{ path('kl_restauration_listecommande_homepage') }}"
      class="list-group-item">Tous</a>
    </div>


  </div>

  <div class="col-lg-9">
    <div class="row">
      {{form_start(form)}}
      {{ form_rest(form) }}
      {{form_end(form)}}
    </div>
  </div>
</div>
{% endblock %}
