{% extends "KLCoreBundle::layout.html.twig" %}

{% block title %}Mes commandes - {{ parent() }}{% endblock %}

{% block body %}

  <div class="container jumbotron bg-panier">
    <div class="etapes">
      <h1>
        Mon panier >
        <span style="color: #ffe13f;">
          <i class="fa fa-first-order"></i>
          Commander >
        </span>
        Adresse de livraison > Paiement
      </h1>
    </div>

    <div class="clear"></div>

    <div class="row">
      <div class="col-lg-12 panier">
        <div class="row">
          <h2 style="color:white;">Mes commandes</h2>

          {% if commandes|length  == 0 %}
            <div style="text-align:center; margin-top: 120px;">
              <h2 style="color:white;">Aucune commandes pour le moment</h2>
            </div>

            {% image '@KLRestaurationBundle/Resources/public/img/cake.svg' %}
             <img id="cake-404" src="{{ asset_url }}" alt="cake">
            {% endimage %}
          {% endif %}

          {% for commande in commandes %}
          <div class="col-lg-3 col-md-6 mb-4 thumbnail thumb-panier">
            {% image '@KLRestaurationBundle/Resources/public/img/Logokandl-black.png' %}
              <img id="footer-logo" src="{{ asset_url }}" alt="K & L">
            {% endimage %}
              <div class="card-body">
                <h4 class="card-title">
                    Commande n° {{ commande.id }}
                </h4>
                <p>Effectué le {{ commande.date|date('Y-m-d H:i:s') }}</p>
                <p>
                  <kbd>{{ user.nom }} {{ user.prenom }}</kbd>
                </p>
                <p>
                  <i class="fa fa-tags"></i> Prix total {{ commande.getPrixTotal }} €
                </p>
                <p style="font-size: 13px;"> Nombre de produits : {{ commande.nbProduitTotal }}</p>

                {% if commande.etat == 0 %}
                    {% set etat,Color  = 'en attente','Tomato' %}
                {% elseif commande.etat == 1 %}
                    {% set etat,Color = 'en préparation','orange' %}
                {% else %}
                    {% set etat,Color = 'en livraison','green' %}
                {% endif %}
                <p style="font-size: 12px;">
                  <i style="color:{{ Color }}; font-size:10px;"
                  class="fa fa-circle"></i>   Etat : {{ etat }}
                </p>
                <p>
                  <a href="{{ path('kl_restauration_commande_view', {'id': commande.id}) }}"
                  class="btn" style="color: white;  border-radius: 50px;
                  background-color: DarkMagenta; font-size: 12px;">
                  <i class="fa fa-plus-circle"></i> d'infos sur la commande
                  </a>
                </p>
                {% if commande.adressLivraison is null %}
                  <p>
                    <a href="{{ path('kl_restauration_commande_adress_add', {'id': commande.id}) }}"
                    class="btn btn-primary" style="color: white; border-radius: 50px; font-size: 10px;">
                    <i class="fa fa-arrow-right"></i> Ajouter une adresse de livraison
                    </a>
                  </p>
                  <p class="jumbotron" style="height: 50px;">
                    <span style="font-size: 12px; color: red; margin-top:-20px;position: absolute;margin-left: -135px;">
                      Veuillez ajouter une adresse de livraison à la commande pour procéder au paiement.
                    </span>
                  </p>
                {% else %}
                    <div class="jumbotron" style="height: 50px;">
                      <p style="font-size: 12px; margin-top:-15px;position: absolute;
                      margin-left: -50px;">
                        {{ commande.adressLivraison.rue }}
                        {{ commande.adressLivraison.ville }}
                        {{ commande.adressLivraison.pays }}
                        {{ commande.adressLivraison.codePostal }}
                      </p>
                    </div>
                    <p>
                      <a href="{{ path('kl_restauration_paiement_homepage') }}"
                      class="btn"
                      style="color: white;  border-radius: 50px; margin-left: -55px;
                      background-color: #E7964B;
                      margin-top:-10px;position: absolute;">
                      <i class="fa fa-credit-card"></i> Paiement
                    </a>
                  </p>
                {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-6">
          <a href="{{ path('kl_restauration_panier_homepage') }}" class="btn bgdoree">
            <i class="fa fa-undo"></i> Revenir à mon panier
          </a>
        </div>
      </div>
    </div>
  </div>

  {% for flashMessage in app.session.flashbag.get('notice') %}
      {% javascripts '@KLRestaurationBundle/Resources/public/js/notice/*' %}
          <script src="{{ asset_url }}"></script>
          <script> flash_notice("{{ flashMessage }}","success"); </script>
      {% endjavascripts %}
  {% endfor %}

{% endblock %}
