{% extends "KLCoreBundle::layout.html.twig" %}

{% block title %} Admin commandes - {{ parent() }}{% endblock %}

{% block body %}

{% if commande|length %}
  <div class="container jumbotron bg-panier">

    <div class="row">
      <div class="col-lg-12 panier">
        <div class="row">

            <h2 style="color:white;">  Commande n° {{ commande.id }}</h2>

            <div class="row">
              <div class="col-lg-2 col-md-6 mb-4 thumbnail thumb-panier">
                {% image '@KLRestaurationBundle/Resources/public/img/Logokandl-black.png' %}
                  <img id="footer-logo" src="{{ asset_url }}" alt="K & L">
                {% endimage %}
                  <div class="card-body">
                    <h4 class="card-title">Commande n° {{ commande.id }}</h4>
                    <p>Effectué le {{ commande.date|date('d-m-Y H:i:s') }}</p>
                    <p>
                      <kbd>{{ commande.user.nom }} {{ commande.user.prenom }}</kbd>
                    </p>
                    <p>
                      <i class="fa fa-tags"></i> Prix total {{ commande.getPrixTotal }} €
                    </p>
                    <p style="font-size: 13px;">
                      Nombre de produits : {{ commande.nbProduitTotal }}
                    </p>

                    {% if commande.etat == 0 %}
                        {% set etat,Color  = 'en attente','Tomato' %}
                    {% elseif commande.etat == 1 %}
                        {% set etat,Color = 'en préparation','orange' %}
                    {% elseif commande.etat == 2 %}
                            {% set etat,Color = 'préparé','blue' %}
                    {% elseif commande.etat == 3 %}
                        {% set etat,Color = 'en livraison','purple' %}
                    {% else %}
                        {% set etat,Color = 'livré','green' %}
                    {% endif %}
                    <p style="font-size: 12px;">
                      <i style="color:{{ Color }}; font-size:10px;"
                      class="fa fa-circle"></i>  Etat : {{ etat }}
                    </p>
                  <div class="jumbotron" style="height: 50px;">
                    <p style="font-size: 12px; margin-top:-15px;position: absolute;
                    margin-left: -50px;">
                    <em><i class="fa fa-building doree"></i> Adresse de livraison</em><br>
                    {% if commande.adressLivraison != null %}
                      {{ commande.adressLivraison.rue }}
                      {{ commande.adressLivraison.ville }}
                      {{ commande.adressLivraison.pays }}
                      {{ commande.adressLivraison.codePostal }}
                      {% else %}
                          Il n'y a pas d'adresse
                      {% endif %}
                    </p>
                  </div>
                  {% if commande.payer != 1 %}
                      <p>
                        La commande n'a pas encore été payé
                    </p>
                  {% else %}
                      <p style="color:green;">
                        La commande à été payé le {{ commande.datePaiement|date('Y-m-d H:i:s') }} !</p>
                  {% endif %}
                </div>
              </div>
              <div class="col-lg-9">
                {% for commandeProduit in commande.commandeProduits %}
                    <div class="col-lg-3 col-md-6 mb-4 thumbnail thumb-panier">
                      <div class="container-img-product">
                        <a href="#"><img class="card-img-top product-img img-panier"
                          src="{{ commandeProduit.produit.image }}" alt=""></a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">
                            <a class="product-title" href="#" style="font-weight: normal;">
                              {{ commandeProduit.produit.nom }}
                            </a>
                          </h5>
                          <!-- <p>{{ commandeProduit.produit.id }}</p> -->
                          <p>
                            Prix unitaire  <span class="product-price">{{ commandeProduit.produit.prix }} € </span>
                          </p>
                          {% if commandeProduit.etat == 0 %}
                              {% set CPetat,Couleur = 'en attente','Tomato' %}
                          {% elseif commandeProduit.etat == 1 %}
                              {% set CPetat,Couleur = 'en préparation','orange' %}
                          {% else %}
                              {% set CPetat,Couleur = 'Terminé','green' %}
                          {% endif %}
                          <p style="font-size: 12px;"><i style="color:{{ Couleur }}; font-size:10px;"
                            class="fa fa-circle"></i> Statut {{ CPetat }} </p>
                        </div>
                      </div>
                {% endfor %}
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-6">
          <a href="{{ path('kl_restauration_listecommande_homepage') }}" class="btn bgdoree">
            <i class="fa fa-undo"></i> Revenir à toutes les commandes
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% for flashMessage in app.session.flashbag.get('danger') %}
      {% javascripts '@KLRestaurationBundle/Resources/public/js/notice/*' %}
          <script src="{{ asset_url }}"></script>
          <script> flash_notice("{{ flashMessage }}","danger"); </script>
      {% endjavascripts %}
  {% endfor %}

  {% for flashMessage in app.session.flashbag.get('success') %}
      {% javascripts '@KLRestaurationBundle/Resources/public/js/notice/*' %}
          <script src="{{ asset_url }}"></script>
          <script> flash_notice("{{ flashMessage }}","success"); </script>
      {% endjavascripts %}
  {% endfor %}

{% endblock %}
