<!DOCTYPE html>
<html lang="fr-GP">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=9">

  <title>{% block title %}K & L Restauration{% endblock %}</title>

  {% image '@KLRestaurationBundle/Resources/public/img/fav.ico' %}
    <link rel="icon" type="image/x-icon" href="{{ asset_url }}">
  {% endimage %}

  {% block headers %}
  {% endblock %}

  {% block stylesheets %}

    {% stylesheets 'bundles/bmatznerfontawesome/css/font-awesome.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {% stylesheets '@KLRestaurationBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
  {% endblock %}
</head>

<body data-spy="spyscroll" data-target=".navbar-default">
  <main>
    <nav class="navbar navbar-default">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="{{ path('kl_core_homepage') }}" style="background-color:#E7964B;">
           {% image '@KLRestaurationBundle/Resources/public/img/LogoWhite.png' %}
             <img id="LogoKL" src="{{ asset_url }}" alt="K & L">
           {% endimage %}
         </a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li>
             <a href="{{ path('kl_core_homepage') }}">
               <i class="fa fa-home"></i> Accueil
             </a>
           </li>
           <li><a href="{{ path('kl_restauration_produit_homepage') }}">Boutique</a></li>
           <li><a href="{{ path('kl_core_contact') }}">Contact</a></li>
           <li>{{ render(controller('KLRestaurationBundle:Produit:searchBar'))}}</li>

         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li>
             <a href="{{ path('kl_restauration_panier_homepage') }}">
               <i class="fa fa-shopping-cart"></i>
                  {% if app.session.get('panier') is defined %}
                    {% set sum = 0 %}
                    {% for value in app.session.get('panier') %}
                      {% set sum = sum + value %}
                    {% endfor %}
                    {% if sum != 0 %}
                      Mon panier <span class="badge badge-default">{{ sum }}</span>
                    {% else %}
                      Mon panier
                    {% endif %}
                  {% else %}
                      Mon panier
                  {% endif %}
             </a>
           </li>

           {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
           <li>
             <a href="{{ path('fos_user_security_login') }}">  <!--path('login')-->
               <i class="fa fa-user-circle-o"></i>
               Me connecter
             </a>
           </li>
           <li>
             <a href="{{ path('fos_user_registration_register') }}">
               <i class="fa fa-user-plus"></i>
               M'inscrire
             </a>
           </li>
           {% else %}
              {% if is_granted('ROLE_LIVREUR') %}
                  <li>
                    <a href="{{ path('kl_restauration_livreur_homepage') }}">
                      <i class="fa fa-list"></i>
                      Gestion des livraisons
                    </a>
                  </li>
              {% elseif is_granted('ROLE_CUISINIER') %}
                <li>
                  <a href="{{ path('kl_restauration_cuisinier_homepage') }}">
                    <i class="fa fa-list"></i>
                    Gestion des commandes
                  </a>
                </li>
              {% endif %}
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">

             {% if app.user.avatar %}
               <img class="" src="{{ app.user.avatar }}" alt="img_pic"
               style="width: 25px; height: 25px; margin-top: -10px; border-radius: 50px;">
             {% else %}
                <i class="fa fa-user-circle-o"></i>
             {% endif %}
             <span style="margin-top: -10px;">
               {{ app.user.username }} <span class="caret"></span>
             </span>
             </a>
             <ul class="dropdown-menu">
               <li>
                 <a href="{{ path('fos_user_profile_show') }}">
                   <i class="fa fa-user-circle-o"></i>
                   Mon compte
                 </a>
               </li>
               <li>
                 <a href="{{ path('kl_restauration_commande_homepage') }}">
                   <i class="fa fa-list"></i>
                   Mes commandes
                 </a>
               </li>
               <li>
                 <a href="{{ path('fos_user_profile_edit') }}">
                   <i class="fa fa-cog"></i>
                   Editer mes informations
                 </a>
               </li>
               <li>
                 <a href="{{ path('fos_user_security_logout') }}">
                   <i class="fa fa-power-off"></i>
                   Se déconnecter
                 </a>
               </li>
             </ul>
           </li>
           {% endif %}
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>

  <div class="container">
    <div class="row">
      <div id="content" class="col-md-12">
        {% block body %}
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <a href="#0" class="cd-top" style="border-radius: 50px;">Monter</a>

  <footer>
    {% image '@KLRestaurationBundle/Resources/public/img/Logokandl-black.png' %}
      <img id="footer-logo" src="{{ asset_url }}" alt="K & L">
    {% endimage %}
    <br>
    <small><kbd>Karen & Lo&iuml;c © 2014 - {{ 'now'|date('Y') }}</kbd></small>
  </footer>

  {% block javascripts %}
    {% javascripts '@KLRestaurationBundle/Resources/public/js/jquery.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@KLRestaurationBundle/Resources/public/js/after/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}
  {% block js %}{% endblock %}
  {{ tinymce_init() }}
</main>

</body>
</html>
