{% extends "KLRestaurationBundle::layout.html.twig" %}

{% block title %}{{ parent()}}{% endblock %}

{% block body %}
<div class="row product">
  <div class="col-lg-3">

    <h1 class="presentation-titre">Nos gammes de produits</h1>

    <div class="list-group">
      <a href="{{ path('kl_restauration_produit_homepage') }}"
      class="list-group-item">Tous</a>

      {% for gammeProduit in listGammeProduits %}
        <a href="{{ path('kl_restauration_gamme_view', {'id': gammeProduit.id}) }}"
        class="list-group-item">{{ gammeProduit.nom }}</a>
      {% endfor %}
    </div>

    <div class="list-group">
      <a href="{{ path('kl_restauration_produit_add') }}"
      class="list-group-item">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Ajouter un produit
      </a>
      <a href="{{ path('kl_restauration_gamme_add') }}"
      class="list-group-item">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Ajouter ou Modifier ou Supprimer une gamme
      </a>
    </div>
  </div>

  <div class="col-lg-9">

      <div class="row">
        {% for produit in listProduits %}
          <div class="col-lg-trente col-md-6 mb-4 thumbnail">
            <div class="container-img-product">
              <a href="{{ path('kl_restauration_produit_view', {'id': produit.id}) }}">
                <img class="card-img-top product-img"
                src="{{ produit.image }}" alt="">
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a class="product-title"
                href="{{ path('kl_restauration_produit_view', {'id': produit.id}) }}">
                  {{ produit.nom }}
                </a>
              </h5>
              <h5 class="product-price">{{ produit.prix }} €</h5>
              <p class="card-text product-text">{{ produit.description }}</p>
            </div>
            <div class="card-footer">
              <p>
                <small class="text-muted product-star">
                  {% for i in 1 .. produit.note %} &#9733; {% endfor %}
                  {% for i in 1 .. (5 - produit.note) %} &#9734; {% endfor %}
                </small>
              </p>
              <p>
                <a class="btn btn-add-panier" href="#" role="button">
                  <i class="fa fa-shopping-cart"></i>
                  Ajouter au panier
                </a>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>

  </div>
</div>
{% endblock %}
