{% extends "KLRestaurationBundle::layout.html.twig" %}

{% block title %}{{ parent()}}{% endblock %}

{% block body %}
<div class="row product">
  <div class="col-lg-3">

    <h1 class="presentation-titre">Nos gammes de produits</h1>

    <div class="list-group">
      <div id="tous"
      class="list-group-item"><i class="fa fa-list-ul" aria-hidden="true"></i> Tous</div>

      {% for gammeProduit in listGammeProduits %}
        {% set icon = '' %}
        {% set list = { Boisson:'glass', Hamburger:'bars', Tarte:'pie-chart', Pizza:'play' } %}

        {% for item,value in list %}
          {% if gammeProduit.nom == item %} {% set icon = value %} {% endif %}
        {% endfor %}

        <div class="list-group-item" id="cat{{gammeProduit.id}}">
          <i class="fa fa-{{ icon }}" aria-hidden="true"></i> {{ gammeProduit.nom }}
        </div>
      {% endfor %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
      <div class="list-group">
        <a href="{{ path('kl_restauration_produit_add') }}"
        class="list-group-item">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Ajouter un produit
        </a>
        <a href="{{ path('kl_restauration_ingredient_homepage') }}"
        class="list-group-item">
          <i class="fa fa-eye" aria-hidden="true"></i>
          Voir tous les ingrédients
        </a>
        <a href="{{ path('kl_restauration_gamme_add') }}"
        class="list-group-item">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Ajouter ou Modifier ou Supprimer une gamme
        </a>
      </div>
    {% endif %}

  </div>

  <div class="col-lg-9">

      <div class="row">

        <div class="test" id="result"></div>

      </div>

  </div>
</div>

{% block header %}
  {% javascripts '@KLRestaurationBundle/Resources/public/js/jquery.min.js' %}
  <script src="{{ asset_url }}"></script>
  <script>
    function chargerProduits() {
      $.ajax({
        url:'{{ path('kl_restauration_produit_charger') }}',
        dataType:'html',
        success: function(Result) {
          $('#result').html(Result);
        }
      });
    }
    $(document).ready(function() {

      chargerProduits();

      $('#tous').click(function() {
        chargerProduits();
      });

      {% for gammeProduit in listGammeProduits %}
        $('#cat{{gammeProduit.id}}').click(function() {
          $.ajax({
            type : 'get',
            url : '{{ path('kl_restauration_gammes_charger', {'id': gammeProduit.id}) }}',
            success: function(Result) {
              $('#result').html(Result);
            }
          });
        });
      {% endfor %}
    })
  </script>
  {% endjavascripts %}
{% endblock %}
{% endblock %}
