{% extends "KLRestaurationBundle::layout.html.twig" %}

{% block title %}{{ parent()}}{% endblock %}

{% block body %}
<div class="row product">
  <div class="col-lg-3">

    <h1 class="presentation-titre">Nos gammes de produits</h1>

    <div class="list-group">
      <a href="{{ path('kl_restauration_produit_homepage') }}"
      class="list-group-item">Tous</a>

      {% for gammeProduit in listGammeProduits %}
        <a href="{{ path('kl_restauration_gamme_view', {'id': gammeProduit.id}) }}"
        class="list-group-item">{{ gammeProduit.nom }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4"></div>
        <div class="col-lg-7 col-md-6 mb-4 thumbnail">
          <div class="container-img-product">
            <a href=”#” onclick="return false;">
              <img style="height: 300px;" class="card-img-top product-img" src="{{ produit.image }}" alt="">
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title product-title"> {{ produit.nom }} </h5>
            <h5 class="product-price">{{ produit.prix }} €</h5>
            <p class="card-text product-text">{{ produit.description }}</p>
            <p class="card-text product-text">Catégorie : {{ produit.gammeProduit.nom }}</p>
            {% if not produit.ingredients.empty %}
              <p class="card-text product-text">
                Ingrédients :
                {% for ingredient in produit.ingredients %}
                  {{ ingredient.nom }}{% if not loop.last %}, {% endif %}
                {% endfor %}
              </p>
            {% endif %}
          </div>
          <div class="card-footer">
            <p>
              <small class="text-muted product-star">
                {% for i in 1 .. produit.note %} &#9733; {% endfor %}
                {% if produit.note < 5 %}
                  {% for i in 1 .. (5 - produit.note) %} &#9734; {% endfor %}
                {% endif %}
              </small>
            </p>
            <p>
              <a class="btn btn-add-panier" href="#" role="button">
                <i class="fa fa-shopping-cart"></i>
                Ajouter au panier
              </a>
            </p>
            <p>
              <a href="{{ path('kl_restauration_produit_edit', {'id': produit.id}) }}" class="btn btn-add-panier">
                <i class="fa fa-pencil"></i>
                Modifier ce produit
              </a>
            </p>
            <p>
              <a href="{{ path('kl_restauration_produit_delete', {'id': produit.id}) }}" class="btn btn-add-panier">
                <i class="fa fa-trash"></i>
                Supprimer ce produit
              </a>
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
