{% block body %}

  {% trans_default_domain 'FOSUserBundle' %}

  <div class="container jumbotron connect-form fos_user_profile_edit"  style="color:black;">
    {% image '@KLRestaurationBundle/Resources/public/img/LogokandL-white.png' %}
      <img id="connect-logo" src="{{ asset_url }}" alt="K & L" style="width: 300px;">
    {% endimage %}

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    {{ form_end(form) }}

    <br><br>
    <p>
      <a class="btn btn-add-panier"
        href="{{ path('fos_user_profile_edit') }}" role="button">
        <i class="fa fa-cog"></i>
        Editer mon profile
      </a>
      <a class="btn btn-add-panier"
        href="{{ path('fos_user_profile_show') }}" role="button">
        <i class="fa fa-cog"></i>
        Voir mon profile
      </a>
    </p>
  </div>
{% endblock %}
