{% block body %}

  {% trans_default_domain 'FOSUserBundle' %}

  <div class="container jumbotron connect-form fos_user_profile_edit"  style="color:black;">
    {% image '@KLRestaurationBundle/Resources/public/img/LogokandL-white.png' %}
      <img id="connect-logo" src="{{ asset_url }}" alt="K & L" style="width: 300px;">
    {% endimage %}

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
