{% extends "KLCoreBundle::layout.html.twig" %}

{% block title %} Accueil - {{ parent() }} {% endblock %}


{% block body %}

<!-- banner -->
  <div id = "banner" class="jumbotron">
      <div class="banner-content row">
        <div class="left">
          <ul class="banner-list">
            <li>
              {% image '@KLRestaurationBundle/Resources/public/img/burger.svg' %}
              <img id="banner-1" src="{{ asset_url }}" alt="burger">
              {% endimage %}
              <a href="{{ path('kl_restauration_produit_create', {'gamme': 9}) }}">
                Faire un Hamburger
              </a>
            </li>
            <li>
              {% image '@KLRestaurationBundle/Resources/public/img/pizza.png' %}
              <img id="banner-2" src="{{ asset_url }}" alt="pizza">
              {% endimage %}
              <a href="{{ path('kl_restauration_produit_create', {'gamme': 10}) }}">
                Faire une Pizza
              </a>
            </li>
            <li>
              {% image '@KLRestaurationBundle/Resources/public/img/cake.svg' %}
              <img id="banner-3" src="{{ asset_url }}" alt="cake">
              {% endimage %}
              <a href="{{ path('kl_restauration_produit_create', {'gamme': 11}) }}">
                Faire une tarte
              </a>
            </li>
          </ul>
        </div>

        <div class="center">
          <!-- test -->
          {% image '@KLRestaurationBundle/Resources/public/img/LogokandL-white.png' %}
          <img id="banner-logo" src="{{ asset_url }}" alt="K & L">
          {% endimage %}

          <div class="clear"></div>

          <a href="#about">
            <i id ="chevron" class="fa fa-chevron-circle-down"></i>
          </a>
        </div>

        <div class="right">
          <ul class="banner-social">
            <li>
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </li>
            <li>
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </li>
            <li>
              <i class="fa fa-youtube-square" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>
  </div>

  <div class="clear"></div>

  <div id = "about">
    <div class="jumbotron">
      <h1 class="anim-typewriter line-1" id = "presentation-titre">Notre restaurant en Guadeloupe, depuis 4 ans</h1>
      <p> <span class = "presentation-titre">K & L</span> est une véritable institution
        célébrée par tous ceux qui aiment la cuisine authentique.
        Depuis 2014, notre équipe poursuit l’histoire avec une régularité
        exemplaire pour le plus grand plaisir de ses clients.
      </p>
      <p>
        En cuisine, nous ne laissons rien au hasard avec des produits frais de saison.
      </p>
    </div>
  </div>

  <div class="row cartes" style="background-color: #222;">
    <br><br>
    <div class="card col-lg-4">
      <a href="{{ path('kl_restauration_gamme_view', {'id': 9}) }}">
        {% image '@KLRestaurationBundle/Resources/public/img/uploads/hamburger1.jpg' %}
        <img class="card-img img-fluid" src="{{ asset_url }}" alt="burger">
        {% endimage %}
      </a>
      <h2 class = "presentation-titre">Nos Hamburgers</h2>
    </div>
    <div class="card col-lg-4">
      <a href="{{ path('kl_restauration_gamme_view', {'id': 10}) }}">
        {% image '@KLRestaurationBundle/Resources/public/img/uploads/pizza3.jpg' %}
        <img class="card-img img-fluid" src="{{ asset_url }}" alt="pizza">
        {% endimage %}
      </a>
      <h2 class = "presentation-titre">Nos pizzas</h2>
    </div>
    <div class="card col-lg-4">
      <a href="{{ path('kl_restauration_gamme_view', {'id': 11}) }}">
        {% image '@KLRestaurationBundle/Resources/public/img/uploads/tarte1.jpg' %}
        <img class="card-img img-fluid" src="{{ asset_url }}" alt="tarte">
        {% endimage %}
      </a>
      <h2 class = "presentation-titre doree">Nos tartes</h2>
    </div>
  </div>

  <br>
  <div id = "team">
    <div class="jumbotron  bg-tarte" style="text-align:center;">
      <h1 class="presentation-titre doree">Notre équipe</h1>
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-6">
            {% image '@KLRestaurationBundle/Resources/public/img/profile/pp.jpeg' %}
            <img class="translationDroite" src="{{ asset_url }}" style="float: right; height: 200px; border-radius: 50%;" alt="Karen">
            {% endimage %}
          </div>
          <div class="col-lg-6">
            {% image '@KLRestaurationBundle/Resources/public/img/profile/ma photo.jpg' %}
            <img class="translationGauche" src="{{ asset_url }}" style="float: left; height: 200px; border-radius: 50%;" alt="Loic">
            {% endimage %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <section id="main-contact" class="contact">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-7 jumbotron building">
          <h2 class = "presentation-titre" style="text-align:center;">Nous contacter</h2><br>
          <div class="col-lg-12" style="margin-left: 22%;">
            <i class="fa fa-building doree"></i> Fouillole, Pointe-à-Pitre<br>
            <i class="fa fa-globe doree"></i> Université des Antilles, Guadeloupe <br>
            <i class="fa fa-road doree"></i> 97157
          </div>
        </div>
        <div class="col-lg-5">
          <div id="map" class="jumbotron" style="height:255px;"></div>
        </div>
      </div>
    </div>
  </section>

  <br>
  <div id = "temoignages">
    <div class="jumbotron bg-tarte">
      <h1 class="presentation-titre" style="text-align:center;">Ce qu'en pense nos clients</h1>
    </div>
  </div>
  <br>

  <div class="row cartes">
    <div class="card col-lg-4">
    </div>
    <div class="card col-lg-4" style="background-color: #222; border-radius: 10px;">
      <br>
      &nbsp;&nbsp;<i class="fa fa-star doree"></i>
      <i class="fa fa-star doree"></i>
      <i class="fa fa-star fa-3x doree"></i>
      <i class="fa fa-star doree"></i>
      <i class="fa fa-star doree"></i>
      <br><br>
      <div class="row">
        <div style="margin-left: 130px;" class="col-lg-5 thumbnail thumb-panier">
          <div class="container-img-product">
            <a href="{{ path('kl_restauration_produit_view', {'id': produit.id}) }}"><img class="card-img-top product-img img-panier"
              src="{{ produit.image }}" alt=""></a>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a class="product-title" href="#" style="font-weight: normal;">
                  {{ produit.nom }}
                </a>
              </h5>
            </div>
          </div>
      </div>

      &nbsp;&nbsp;<i class="fa fa-star doree"></i>
      <i class="fa fa-star doree"></i>
      <i class="fa fa-star doree"></i>
      <i class="fa fa-star doree"></i>
      <i class="fa fa-star doree"></i>
      <h2 class = "presentation-titre">Produit du jour le plus vendus</h2>
    </div>
    <div class="card col-lg-4">
    </div>
  </div>

<br>

  {% for flashMessage in app.session.flashbag.get('notice') %}
      {% javascripts '@KLRestaurationBundle/Resources/public/js/notice/*' %}
          <script src="{{ asset_url }}"></script>
          <script> flash_notice("{{ flashMessage }}","success"); </script>
      {% endjavascripts %}
  {% endfor %}
{% endblock %}

{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqvyVj5nBBgaf6C3zSUbVXUV1ujtKcvyM&callback=myMap"></script>
{% endblock %}
